PySide6>=6.6
PyQt6>=6.7.0
pyusb>=1.2.1
libusb-package>=1.0.26.1
protobuf>=5.26
PyQt5>=5.15
pyserial>=3.5                # Serial/USB communication
pyqtgraph>=0.13.7            # High-performance scientific graphs/plots
numpy>=2.0.0                 # Numerical computing (position data)
PyInstaller>=5.9.0           # Build executable (.exe)
psutil>=5.9.0