_autosave-*
*_autosave.kicad_sch
*_autosave.kicad_pcb
#auto_saved_files#

# Lock files
*.lck
*~

# Backups
*-backups/
*.zip
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*.bk.kicad_pcb
*.bk.kicad_sch
*.bk.kicad_prl
*.bk.kicad_pro

# Cache
fp-info-cache

# Output folders
plots/
print/
gerber/
bom/