# Ignore everything
*

# But keep .ioc and linker script file
!*.ioc
!STM32F411CEUX_FLASH.ld
!STM32F411CEUX_RAM.ld
# And keep Core/ directory and all its contents
!Core/
!Core/**
!app/
!app/**
!bsp/
!bsp/**
!Drivers/
!Drivers/**
!middlewares/
!middlewares/**
!sys/
!sys/**
!.project
!.cproject
!.settings/
!USB_DEVICE/
!USB_DEVICE/**
# (Optional) Keep .gitignore files even in subfolders, for future use
!.gitignore
# Keep clang-format file
!.clang-format
